<% if user_signed_in?%>
    <div class="jumbotron jumbotron-home">
        <div class="container">
            <h1>Welcome back</h1>
            <p>I'm going to be building a debt-snowball calculator (hopefully). This is where I image you'd interact with it. I'm excited to see what it becomes over the course of the next month. One of my inspirations for this project is <a href="http://www.moneylab.co/web-app/">Matt Giovanisci's Money Lab Challenges</a>. </p>
            <%= link_to "Learn more »", "#", class: "btn btn-primary btn-lg" %> 
        </div>
    </div>
<% else %> 
    <div class="jumbotron jumbotron-home">
        <div class="container">
            <h1>Welcome to my project</h1>
            <p>I'm going to be building a debt-snowball calculator (hopefully). This is where I image you'd interact with it. I'm excited to see what it becomes over the course of the next month. One of my inspirations for this project is <a href="http://www.moneylab.co/web-app/">Matt Giovanisci's Money Lab Challenges</a>. </p>
            <%= link_to "Learn more »", "#", class: "btn btn-primary btn-lg" %> 
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>About the Calculator</h2>
                <p>It wasn't that long ago that I was waist-deep in debt. When I sat down to crunch my numbers, I realized that I was making (38K, which is ~ 29K after taxes) just as much as I had in debt (23K). </p>
                <p><%= link_to "Read More", about_path, class: "btn btn-secondary" %></p>
            </div>
            <div class="col-md-4">
                <h2>About Emilie</h2>
                <p>Emilie is the blogger behind <a href="http://burkedoes.com">Burke Does</a>, inspiring millennial women to live financially, physically, and professionally fit lives. She writes about overcoming debt, while balancing trying to eat healthy, stay fit, and have a little fun along the way. </p>
                <p><%= link_to "Read More", about_path, class: "btn btn-secondary" %></p>
            </div>
            <div class="col-md-4">
                <h2>Get in Touch</h2>
                <p>If you're interested in getting in touch, please reach out twitter. You can reach out on Twitter <a href="http://www.twitter.com/emilielimaburke" target="_blank">@emilielimaburke</a>, via email <a href="mailto:emilie@burkedoes.com">here</a>, or at <a href="http://emilieburke.com/contact-me/">the Contact Form on my website</a>. </p>
                <p><%= link_to "Let's Chat", contact_path, class: "btn btn-secondary" %></p>
            </div>
        </div>
    </div>
<% end %>